.getstart-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  /* background-color: #eff2ff; */
  background: radial-gradient(
    204.28% 82.4% at 54.75% 43.9%,
    #41505c 0%,
    #0d1014 100%
  );
}

.gender-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #ddd;
}

.tab.active {
  background-color: #41505c;
  color: #fff;
}

.shoe-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.shoe-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.shoe-card.selected {
  border-color: #41505c;
}

.shoe-images {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.shoe-images img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.color-picker {
  margin: 20px 0;
}

.size-selector {
  margin: 20px 0;
}
